body {
    padding-top: 65px;
    padding-bottom: 80px;
    overflow-y: scroll;
    color: #555555;
    background-color: #ffffff;
}

#coinName{
    text-transform: capitalize;
}

.container{
    font-size: 1.1em;
}
#loading{
    font-size: 2em;
}
.stats {
    margin-bottom: 10px;
    margin-top: 5px;
}
.stats:last-child{
    width: auto;
}
.stats > h3 > i{
    font-size: 0.80em;
    width: 21px;
}
.stats > div{
    padding: 5px 0;
}
.stats > div > .fa {
    width: 25px;
}
.stats > div > span:first-of-type{
    font-weight: bold;
}
#stats_updated{
    opacity: 0;
    float: right;
    margin-left: 30px;
    line-height: 47px;
    font-size: 0.9em;
    color: #86af49 !important;
    margin-top: 3px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

footer > div{
    margin: 10px auto;
    text-align: center;
}

.navbar-inverse{
    height: 55px;
    position: fixed;
    top: 0px;
    margin-bottom: 0px;
    background-color: #ffffff !important;
    border-bottom: 2px solid #86af49 !important;
    color: #555555 !important;
}

.ipbc_logo{
    height: 40px;
    margin-top: 7px;
}

.navbar-nav > li > a{
    color: #555555 !important;
}

.navbar-nav > li.active > a{
    background-color: transparent !important;
    color: #86af49 !important;
}

.navbar-nav > li > a:hover{
    background-color: transparent !important;
    color: #86af49 !important;
}

ul.navbar-nav{
    margin-top: 2px;
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #86af49 !important;
}

.navbar-inverse .navbar-toggle{
    border: none !important;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: transparent !important;
}

.navbar-collapse.collapse.in{
    background-color: white;
    margin-top: 8px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(134, 175, 73);
}

.stats > div:not(#addressError) > i.fa{
    color: #86af49 !important;
}

.stats > div:not(#addressError) > span:not(.input-group-btn):first-of-type{
    color: #555555 !important;
}

.btn-default, .bg-primary{
    color: #ffffff !important;
    background-color: #86af49 !important;
    border-color: #86af49 !important;
    border-radius: 0px !important;
    font-weight: normal !important;
}

.bg-info{
    color: #555555 !important;
    background-color: #f0efee !important;
    border-color: #f0efee !important;
    border-radius: 0px !important;
    font-weight: normal !important;
}

a{
    color: #86af49 !important;
}

.table > thead > tr > th{
    color: #555555 !important;
    border-bottom-color: #cccccc !important;
}

td > a{
    color: #555555 !important;
}

#blocks_rows > tr .success{
    background-color: #86af49 !important;
}
